@import "https://fonts.googleapis.com/css?family=Reenie+Beanie";

* {
  --light-yellow: #fff6c8;
  --dark-yellow: #84793f;
  --light-green: #e0ffc8;
  --dark-green: #5d843f;
  --light-teal: #c8fff2;
  --dark-teal: #3e8473;
  --light-blue: #c8f2ff;
  --dark-blue: #3f7485;
  --light-purple: #c8dbff;
  --dark-purple: #3f5785;
  --light-violet: #e0c8ff;
  --dark-violet: #5c3d84;
  --light-red: #ffc8c8;
  --dark-red: #853d3d;
  --light-orange: #ffe6c8;
  --dark-orange: #86543f;
  --bg-color: #ffffff;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  background: var(--bg-color);
  width: auto;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.sticky {
  line-height: 1;
  text-align: center;
  width: 275px;
  margin: 25px;
  min-height: 250px;
  max-height: 268px;
  padding-top: 35px;
  position: relative;
  border: 1px solid #e8e8e8;
  border-top: 1px solid var(--light-yellow);
  font-family: "Reenie Beanie";
  font-size: 3em;
  border-bottom-right-radius: 60px 5px;
  display: inline-block;
  background: var(--light-yellow); /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    var(--light-yellow) 81%,
    var(--light-yellow) 82%,
    var(--light-yellow) 82%,
    #ffffc6 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(81%, var(--light-yellow)),
    color-stop(82%, var(--light-yellow)),
    color-stop(82%, var(--light-yellow)),
    color-stop(100%, #ffffc6)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    -45deg,
    #ffff88 81%,
    #ffff88 82%,
    #ffff88 82%,
    #ffffc6 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    -45deg,
    #ffff88 81%,
    #ffff88 82%,
    #ffff88 82%,
    #ffffc6 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    -45deg,
    #ffff88 81%,
    #ffff88 82%,
    #ffff88 82%,
    #ffffc6 100%
  ); /* IE10+ */
  background: linear-gradient(
    135deg,
    #ffff88 81%,
    #ffff88 82%,
    #ffff88 82%,
    #ffffc6 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.sticky:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: -0px;
  bottom: 20px;
  width: 200px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.4);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.rotate {
  /* Safari */
  -webkit-transform: rotate(-10deg);
  /* Firefox */
  -moz-transform: rotate(-10deg);
  /* IE */
  -ms-transform: rotate(-10deg);
  /* Opera */
  -o-transform: rotate(-10deg);
  /* Internet Explorer */
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.red {
  background: var(--light-red);
  color: var(--dark-red);
}

.orange {
  background: var(--light-orange);
  color: var(--dark-orange);
}

.blue {
  background: var(--light-blue);
  color: var(--dark-blue);
}

.yellow {
  color: var(--dark-yellow);
}

.violet {
  background: var(--light-violet);
  color: var(--dark-violet);
}

.purple {
  background: var(--light-purple);
  color: var(--dark-purple);
}

.teal {
  background: var(--light-teal);
  color: var(--dark-teal);
}

.green {
  color: var(--dark-green);
}

.red-orange {
  background: var(--light-orange);
  color: var(--dark-red);
}
